body{
	font-family: 'Rajdhani', sans-serif;
}

select{
	font-family: 'Rajdhani', sans-serif;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-family: 'Rajdhani', sans-serif;
}
::-moz-placeholder { /* Firefox 19+ */
	font-family: 'Rajdhani', sans-serif;
}
:-ms-input-placeholder { /* IE 10+ */
	font-family: 'Rajdhani', sans-serif;

}
:-moz-placeholder { /* Firefox 18- */
	font-family: 'Rajdhani', sans-serif;
}
.logo{
	width: 200px;
	margin-top: 2em;
}

.title_login{
	font-size: 20px;
	padding: 1em;
}

.fuente{
	font-family: 'Rajdhani', sans-serif;
}

.logo2{
	width: 150px;
	display: block;
	margin: auto;
}
.ancho{
	margin-top: 2em;
}
.ancho img{
	width: 20%;
	border-radius: 10%;
}
#contenedor{
	width: 100%;
	height: 100%;
	text-align: center;
	margin-top: 3em;
	margin: auto;
}
.fondo_blanco{
	background-color: white;
	border-radius: 2em 0;
}
#contenedor_success{
	width: 100%;
	height: 100%;
	text-align: center;
	margin-top: 15%;
}

.verde{
	color: #2ecc71;
}
.morado{
	color: #bb1053;
}

#contenedor_success span{
	font-size: 3em;
}

#contenedor_success li{
	margin-top: 2em;
	list-style: none;
}
#contenedor_success a{
	text-decoration: none;
	list-style: none;
	padding: 0.5em;
	border-radius: 0.5em;
	background-color: #bd1154;
    color: white;
}

.quitar_padding{
	padding: 0;
	margin: 0;
}

#contenedor label{
	color: #757575;
}

#contenedor .cajas_datos{
	padding: 0.8em;
	width: 100%;
	border-radius: 0.5em;
	border: 1.5px solid #2ecc71;
	background-color: white;
	color: grey;
	display: block;
}

#contenedor .boton_enviar{
	background-color: #bb1053;
	padding: 0.8em;
	color: white;
	border:none;
	border-radius: 1em;
}

.espacio{
	margin: auto;
	margin-top: 1em;
}

.quitar_lista{
	list-style: none;
}

.editar{
	background-color: #2ecc71;
	color: white;
	padding: 0.3em;
	border-radius: 0.3em
}
.eliminar{
	background-color: #e74c3c;
	color: white;
	padding: 0.3em;
	border-radius: 0.3em;
}

.fondo{
	background-color: rgba(0, 0, 0, 0.68);
	background-image: url("https://static.pexels.com/photos/218983/pexels-photo-218983.jpeg");
	background-size: cover;
	background-blend-mode: multiply;
}
.fondo_textura{
	background-image: url("../imagenes/textura.png");
}

.centrar{
	margin: auto;
	display: block;
}

.nombre_usuario_session{
	font-size: 15px;
}