.logo{
	width: 200px;
}

.quitar_padding{
	padding: 0;
}
.ancho{
	padding: 0;
	margin: 1em 0;
	height: 58px;
	width: 100%;
}
.ancho img{
	border-radius: 5%;
	margin: auto;
	display: block;
	height: 100%;

}
.tamaño_texto p{
	font-size: 18px;
	font-weight: bold;
}

.foto{
	height: 400px;
}
.foto img{
	height: 100%;
	width: 100%;
}
.ancho2{
	padding: 0;
	margin: 1em 0;
	height: 114px;
}
.ancho2 img{
	border-radius: 5%;
	width: auto;
	height: 100%;
	margin: auto;
	display: block;

}
.menu_icon{
	font-size: 3em !important;
	margin-left: 0.5em;
}
.boton_ancho{
	width: 100%;
}

.morado{
	color: #bd1154;
}


.gris{
	color: #a7a7a7;
}

.espacio{
	padding: 2em;
}

.espacio_result{
	padding: 0.8em;
}

.espacio_titulo{
	margin: 4px 0;
}


.fondo_result{
	background-color: #fff;
}

.fondo_menu{
	background-color: #bd1154;
}

.bordes{
	border-top: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
	height: 100%;
}

.izquierda{
	float: left;
}

.titulo_details{
    margin: 1.8em 0;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    color: #bd1154;

}

.grid{
	display: grid;
}


.fondo_details{
    font-family: 'Rajdhani', sans-serif;
    background: #fff url(../images/fondo2.jpg) no-repeat;
    background-size: cover; 
}


.fondo_titulo{
	background-color: #fff;
	border-radius: 1em 1em 0 0;
	border-bottom: 3px solid #d3d3d3;
}

.fondo_content{
	background-color: #f5f5f5;
	padding: 1em;
	border-radius: 1em;
}


.altura{
	height: auto;
}

#boton_volver{
	margin: auto;
	text-align: center;
	margin: 2em 0;
}



.lista{
	list-style: none;
	font-size: 1.2em;
    font-weight: bold;
}

.espacio2{
	padding: 0.7em;
}


#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}